## PROYECTO INDIVIDUAL N°1

A continuacion se mostraran los pasos realizados para la Extraccion, Carga y Limpieza de los datos para lograr un dataset adecuado para las consultas que vamos a realizar

## Importamos las librerias que vamos a utilizar

In [72]:
import pandas as pd
import json

In [73]:
# cargamos el dataset que vamos a utilizar
df = pd.read_csv("movies_dataset.csv", encoding="utf-8")

C:\Users\BMO\AppData\Local\Temp\ipykernel_20084\4289816102.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("movies_dataset.csv", encoding="utf-8")

Hacemos una vista general del dataset para saber con que vamos a trabajar

In [74]:
# miramos el tamañano de filas y columnas
df.shape

(45466, 24)

In [75]:
# observamos que tenemos en las primeras 5 filas para saber como esta compuesto el dataset
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [76]:
# miramos los Dtype (tipos de datos de las columnas)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

## Empezamos con ETL

Vemos que la columna 'belongs_to_collection', tiene formato JSON, vamos a extraer esos datos para que sea mas facil trabajarlos

In [77]:
df['belongs_to_collection']

0        {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                      NaN
2        {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                      NaN
4        {'id': 96871, 'name': 'Father of the Bride Col...
                               ...
45461                                                  NaN
45462                                                  NaN
45463                                                  NaN
45464                                                  NaN
45465                                                  NaN
Name: belongs_to_collection, Length: 45466, dtype: object

Tambien observamos que las columnas 'genres', 'production_companies', 'production_countries', 'spoken_languages', tienen formato json

In [78]:
df['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [79]:
df['production_companies']

0           [{'name': 'Pixar Animation Studios', 'id': 3}]
1        [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2        [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3        [{'name': 'Twentieth Century Fox Film Corporat...
4        [{'name': 'Sandollar Productions', 'id': 5842}...
                               ...
45461                                                   []
45462               [{'name': 'Sine Olivia', 'id': 19653}]
45463    [{'name': 'American World Pictures', 'id': 6165}]
45464                 [{'name': 'Yermoliev', 'id': 88753}]
45465                                                   []
Name: production_companies, Length: 45466, dtype: object

In [80]:
df['production_countries']

0        [{'iso_3166_1': 'US', 'name': 'United States o...
1        [{'iso_3166_1': 'US', 'name': 'United States o...
2        [{'iso_3166_1': 'US', 'name': 'United States o...
3        [{'iso_3166_1': 'US', 'name': 'United States o...
4        [{'iso_3166_1': 'US', 'name': 'United States o...
                               ...
45461               [{'iso_3166_1': 'IR', 'name': 'Iran'}]
45462        [{'iso_3166_1': 'PH', 'name': 'Philippines'}]
45463    [{'iso_3166_1': 'US', 'name': 'United States o...
45464             [{'iso_3166_1': 'RU', 'name': 'Russia'}]
45465     [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]
Name: production_countries, Length: 45466, dtype: object

In [81]:
df['spoken_languages']

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45466, dtype: object

Empezamos a limpiar 'belongs_to_collection'

In [82]:
# creamos esta funcion que intenta utilizar json.loads() y nos devuelve un diccionario vacio si hay un error

def load_json(x):
    try:
        return json.loads(x)
    except (json.JSONDecodeError, TypeError):
        return {}

In [83]:
#limpiamos la columna reemplazando comillas simples por dobles, para la funcion load_json

df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: str(x).replace("'", '"') if isinstance(x, str) else '')

In [84]:
#aplicamos load_json a la columna 'belong_to_collection', utliziamos el metodo json_normalize para intentar hacer una limpieza mas profunda de los datos, y terminamos separando
# 'id', 'name', 'poster_path' y 'backdrop_path' y almacenando esas columnas en df_belongs_clean y uniodolo a nuestro dataframe, dropeamos la columna original 'belongs_to_collection'

df['belongs_to_collection'] = df['belongs_to_collection'].apply(load_json)
df_belongs_clean = pd.json_normalize(df['belongs_to_collection'])
df_belongs_clean = df_belongs_clean.reset_index(drop=True)
df = pd.concat([df, df_belongs_clean], axis=1)
df.drop(columns=['belongs_to_collection'], inplace=True)

Miramos de nuevo nuestros dataframe para ver los cambios realizados

In [85]:
df.head()

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,status,tagline,title,video,vote_average,vote_count,id,name,poster_path,backdrop_path
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,Released,NaN,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,NaN,NaN
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,NaN,NaN,NaN
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg

Se observa que los cambios se realizaron, y la data anidada de la columna 'belongs_to_collecion' esta al final de nuestro dataset como nuevas columnas, pero ahora surge el problema de que tenemos dos columnas con el nombre 'id', la original que teniamos antes, y la que estaba en la columna 'belongs_to_collection'

In [86]:
# nos aseguramos que la columna con el indice 23 es la columna 'id' repetida y que no vamos a utilizar 

col_name = df.columns[23]
print(col_name)

id

In [87]:
# dropeamos 'id' repetida

df.drop(df.columns[23], axis=1, inplace=True)

Limpiamos la columna 'genres'

In [88]:
# creamos esta funcion para desanidar las columnas faltantes
def extract_nested_data(names):
    """
    Extrae los nombres de los objetos dentro de una estructura de datos anidados
    que se proporciona como una cadena de texto en formato de diccionario de Python.

    Parámetros:
    names (str): La cadena de texto que contiene la estructura de datos anidados en formato de diccionario de Python.

    Retorna:
    list: Una lista que contiene los nombres de los objetos dentro de la estructura de datos anidados.

    Ejemplo:
    extract_nested_data('[{"id": 1, "name": "Roberto"}, {"id": 2, "name": "Emilio"}]')
    ['Roberto', 'Emilio']
    """
    try:
        object_list = eval(names)
        object_names = [object_dict['name'] for object_dict in object_list]
        return object_names
    except:
        return ''

In [89]:
# aplicamos la funcion extraact_nested_data a las columnas anidadas que nos faltan

df['genres'] = df['genres'].apply(extract_nested_data)
df['production_countries'] = df['production_countries'].apply(extract_nested_data)
df['production_companies'] = df['production_companies'].apply(extract_nested_data)
df['spoken_languages'] = df['spoken_languages'].apply(extract_nested_data)

In [90]:
df.head()

,adult,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,name,poster_path,backdrop_path
0,False,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,[English],Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,False,65000000,"[Adventure, Fantasy, Family]",NaN,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,NaN
2,False,0,"[Romance, Comedy]",NaN,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,False,16000000,"[Comedy, Drama, Romance]",NaN,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,NaN,NaN
4,False,0,[Comedy],NaN,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg

Ya tenemos las columnas normalizadas, ahora vamos a remover los datos que no nos interesan para el analisis que tenemos que hacer

In [91]:
# removemos las columnas que no vamos a utilizar

df.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'vote_count', 'poster_path', 'backdrop_path', 'homepage'], inplace=True)

In [92]:
# observamos los valores nulos que tenemos

df.isnull().sum()

budget                      0
genres                      0
original_language          11
overview                  954
popularity                  5
production_companies        0
production_countries        0
release_date               87
revenue                     6
runtime                   263
spoken_languages            0
status                     87
tagline                 25054
title                       6
vote_average                6
name                    42298
dtype: int64

In [93]:
# eliminamos los nulos de las columnas 'title' y 'release_date', son columnas que vamos a utilizar mas adelante

df.dropna(subset=['title'], inplace=True)
df.dropna(subset=['release_date'], inplace=True)

In [94]:
# cambiamos el tipo de dato de la columna 'release_date' a date time, para poder obtener los años en una columna separada

df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
df['release_year'] = df['release_date'].dt.year

In [95]:
# cambiamos el tipo de dato de las columnas 'revenue' y 'budget' a float y llenamos con '0' los valores faltantes para poder trabajarlas

df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce').astype(float).fillna(0)
df['budget'] = pd.to_numeric(df['budget'], errors='coerce').astype(float).fillna(0)

In [96]:
# primero creamos nuestra columna 'return' donde vamos a aplicar nuestra cuenta

df['return'] = 0

In [97]:
# calculamos el 'return' dividienvo 'revenue' y 'budget', solo si en las dos columnas tenemos valores

for i in range(len(df)):
    if i in df.index and df['revenue'][i] != 0 and df['budget'][i] != 0:
        df.loc[i, 'return'] = df['revenue'][i] / df['budget'][i]

In [98]:
# renombramos nuestra columna 'name' a 'belongs_to_collection' y llenamos los registros vacios

df = df.rename(columns={'name': 'belongs_to_collection'})
df['belongs_to_collection'] = df['belongs_to_collection'].fillna("No collection")

Vamos a completar los vacios de las columnas restantes para tener una dataframe mas limpio

In [99]:
df.isnull().sum()

budget                       0
genres                       0
original_language           11
overview                   941
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24978
title                        0
vote_average                 0
belongs_to_collection        0
release_year                 0
return                       0
dtype: int64

In [100]:

df['tagline'] = df['tagline'].fillna("No tag")
df['runtime'] = df['runtime'].fillna(0)
df['status'] = df['status'].fillna("No Data")
df['original_language'] = df['original_language'].fillna("Unknown")
df['spoken_languages'] = df['spoken_languages'].fillna("Missing")
df['overview'] = df['overview'].fillna("No overview data")

Verificamos que no tengamos datos nulos

In [101]:
df.isnull().sum()

budget                   0
genres                   0
original_language        0
overview                 0
popularity               0
production_companies     0
production_countries     0
release_date             0
revenue                  0
runtime                  0
spoken_languages         0
status                   0
tagline                  0
title                    0
vote_average             0
belongs_to_collection    0
release_year             0
return                   0
dtype: int64

Hacemos una revision de las columnas para ver si tenemos los tipos de datos correctos

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   budget                 45376 non-null  float64
 1   genres                 45376 non-null  object
 2   original_language      45376 non-null  object
 3   overview               45376 non-null  object
 4   popularity             45376 non-null  object
 5   production_companies   45376 non-null  object
 6   production_countries   45376 non-null  object
 7   release_date           45376 non-null  datetime64[ns]
 8   revenue                45376 non-null  float64
 9   runtime                45376 non-null  float64
 10  spoken_languages       45376 non-null  object
 11  status                 45376 non-null  object
 12  tagline                45376 non-null  object
 13  title                  45376 non-null  object
 14  vote_average           45376 non-null  float64
 15  belongs_to_collection  45376 non-null  object
 16  release_year           45376 non-null  int64
 17  return                 45376 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(11)
memory usage: 7.6+ MB

In [103]:
# cambiamos el tipo de dato de la columna 'popularity' a float, para poder utilizarla en nuestro modelo de ML

df['popularity'] = df['popularity'].astype('float')

Verificamos que la columna popularity sea float

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   budget                 45376 non-null  float64
 1   genres                 45376 non-null  object
 2   original_language      45376 non-null  object
 3   overview               45376 non-null  object
 4   popularity             45376 non-null  float64
 5   production_companies   45376 non-null  object
 6   production_countries   45376 non-null  object
 7   release_date           45376 non-null  datetime64[ns]
 8   revenue                45376 non-null  float64
 9   runtime                45376 non-null  float64
 10  spoken_languages       45376 non-null  object
 11  status                 45376 non-null  object
 12  tagline                45376 non-null  object
 13  title                  45376 non-null  object
 14  vote_average           45376 non-null  float64
 15  belongs_to_collection  45376 non-null  object
 16  release_year           45376 non-null  int64
 17  return                 45376 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(10)
memory usage: 7.6+ MB

Guardamos nuestro dataframe limpio en un csv separado para ya empezar a trabajarlo

In [105]:
df.to_csv('movie_dataset_clean.csv', index=False)

Verificamos que tengamos nuestro nuevo dataset

In [106]:
df = pd.read_csv('movie_dataset_clean.csv')

In [107]:
df.head()

,budget,genres,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,belongs_to_collection,release_year,return
0,30000000.0,"['Animation', 'Comedy', 'Family']",en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,373554033.0,81.0,['English'],Released,No tag,Toy Story,7.7,Toy Story Collection,1995,12.451801
1,65000000.0,"['Adventure', 'Fantasy', 'Family']",en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,262797249.0,104.0,"['English', 'Français']",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,No collection,1995,4.043035
2,0.0,"['Romance', 'Comedy']",en,A family wedding reignites the ancient feud be...,11.712900,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,0.0,101.0,['English'],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,Grumpy Old Men Collection,1995,0.000000
3,16000000.0,"['Comedy', 'Drama', 'Romance']",en,"Cheated on, mistreated and stepped on, the wom...",3.859495,['Twentieth Century Fox Film Corporation'],['United States of America'],1995-12-22,81452156.0,127.0,['English'],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,No collection,1995,5.090760
4,0.0,['Comedy'],en,Just when George Banks has recovered from his ...,8.387519,"['Sandollar Productions', 'Touchstone Pictures']",['United States of America'],1995-02-10,76578911.0,106.0,['English'],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,Father of the Bride Collection,1995,0.000000